body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #007bff;
}

p {
    font-size: 1.2em;
    margin-bottom: 20px;
}
button {
    font-size: 1.5em;
    padding: 15px 40px;
    border-radius: 8px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    display: block;
    margin: 40px auto 0 auto; /* centers the button horizontally and adds top margin */
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}
